html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;

}

h1 {
  font-size: 60px;
  text-align: center;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

p, li {
  font-size: 10px;
  line-height: 2;
  letter-spacing: 1px;
}

.register {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  background: #f5f5f5;

}
